#root {
  min-height: 100vh;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #0f172a;
}

::-webkit-scrollbar-thumb {
  background: #1d4ed8;
  border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #2563eb;
}
